{% extends "page.html" %}


{% block title %}{{ T(SITENAME, lang) }}{% endblock %}


{% block head %}
    {{ super() }}

    <meta itemprop="alternateName" lang="sl" content="Slovenski godalni sekstet">
    <meta itemprop="alternateName" lang="sl" content="SGS">
    <meta itemprop="alternateName" lang="sl" content="Godalni sekstet">
    <meta itemprop="alternateName" lang="en" content="Slovenian string sextet">
    <meta itemprop="alternateName" lang="en" content="Slovene string sextet">
    <meta itemprop="alternateName" lang="en" content="String sextet">
    <meta itemprop="mainEntityOfPage" content="http://www.revijaglasna.si/akcent/vecer-seksteta-v-kropi/">
    <meta itemprop="mainEntityOfPage" content="https://www.gml-drustvo.si/koncerti/koncert-v-spomin-prof-tomazu-lorenzu-2692020">
    <meta itemprop="mainEntityOfPage" content="https://nauportus.wordpress.com/2019/09/06/koncert-godalnega-seksteta/">
    <meta itemprop="mainEntityOfPage" content="https://imagosloveniae.net/arhiv/koncert-v-spomin-primozu-lorenzu/">
    <meta itemprop="mainEntityOfPage" content="https://www.facebook.com/events/d41d8cd9/koncert-v-spomin-prof-toma%C5%BEu-lorenzu/685341915299405/">
    <meta itemprop="mainEntityOfPage" content="https://kultura-kropa.si/dermotabonma/">
    <meta itemprop="isicv4" content="9000">
    <meta itemprop="areaServed" content="Worldwide">
    <meta itemprop="areaServed" content="Europe">
    <meta itemprop="knowsLanguage" content="en">
    <meta itemprop="knowsLanguage" content="sl">
    <link itemprop="genre" href="http://dbpedia.org/page/Category:Chamber_music">
    <link itemprop="knowsAbout" href="http://dbpedia.org/page/Category:Chamber_music">

    <style>
    .hero-image {
        width: calc(100% + 2em);
        margin-left: -1em;
        height: auto;
        border-bottom: 1em solid var(--header-bgcolor);
    }
    main article { margin-top:0 !important; }

    @media (min-width: 830px) {
        .hero-image {
            width: calc(100% + 6em);
            margin-left: -3em;
        }
    }

    .row {
        grid-gap: 3em;
        grid-auto-flow: column;
    }
    @media (min-width: 900px) {
        .row {
            display: grid;
        }
    }
    @media (min-width: 1000px) { .row { padding: 3em 0; } }

    .excerpt {
        font-size: 1.1em;
    }

    h4,
    h5 {
        margin: 0;
    }

    .news {
        background: #eef;
        padding: 1em;
        padding-right: 2em;
    }
        .news h5 {
            display: inline-block;
            font-size: 1em;
            margin-top:.5em;
        }
        .news li:first-child h5 { margin-top: 0; }
        .news h5 { margin-right:.5em }
        .news ol {
            list-style-type: '♯  ';
            padding-left: 2em;
        }

    .partners {
        list-style-type: none;
        padding: 0;
        column-count: 2;
        column-fill: balance;
    }
        .partners li {
            margin: 2em;
        }
        .partners img {
            max-width: 100%;
            height: auto;
        }

    @media (min-width: 550px) { .partners { column-count: 4; } }
    @media (min-width: 700px) { .partners { column-count: 5; } }
    @media (min-width: 1000px) { .partners { column-count: 6; } }
    @media (min-width: 1400px) { .partners { column-count: 7; } }
    </style>
{% endblock %}

{% block content %}
    <img alt width="2000" height="1200" src="{{ SITEURL }}/images/parallax/Slovenski-godalni-sekstet.jpg" class="hero-image image-process-homepage" itemprop="image" aria-hidden="true">

    <div class="row">
        <div>
            <article class="excerpt">
                {{ page.content }}
            </article>

            <article class="news">
                <h4>{{ T('Zadnje objave', lang) }}</h4>
                <ol>
                {% for article in TOP_ARTICLES(articles, lang)[:5] %}
                    <li><article>
                        <h5><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
                        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                    </article></li>
                {% endfor %}
                </ol>
            </article>
        </div>

        <div style="text-align: center; margin-bottom: 2em">
            <script async defer src="https://connect.facebook.net/sl_SI/sdk.js#xfbml=1&version=v13.0&appId=&autoLogAppEvents=1"></script>
            <div class="fb-page"
                 data-tabs="timeline"
                 data-href="https://www.facebook.com/Slovenski-godalni-sekstet-111235971474416/"
                 data-width="500"
                 data-height="500"
                 data-hide-cover="false"
                 data-small-header="true"
                 data-hide-cta="true"
                 data-lazy="true"
                 data-show-facepile="true"></div>
            <script>
                (()=>{
                    let sizes = [
                        [1900, [500, 550]],
                        [1800, [500, 600]],
                        [1400, [500, 600]],
                        [1300, [500, 700]],
                        [1200, [500, 830]],
                        [1100, [400, 820]],
                        [1000, [400, 900]],
                        [900, [300, 850]]
                    ];
                    let [_, [w, h]] = sizes.find(([w, _]) => window.innerWidth >= w) || [0, [500, 500]];
                    let el = document.currentScript.previousElementSibling;
                    el.dataset.width = w;
                    el.dataset.height = h;
                })();
            </script>
        </div>

    </div>
    <ul class="partners">
        {% for alt, href in LOGO_LINKS %}
        {% set image = '{}/images/logos/{}.png'.format(SITEURL, alt.lower().replace(' ', '-')) %}
        <li><a href="{{ href }}" title="{{ alt }}" target="_blank" itemprop="sponsor"
               rel="noopener noreferrer"
               itemscope itemtype="http://schema.org/Organization"><img itemprop="logo" alt="{{ alt }}" src="{{ image }}" loading="lazy" width="300" height="300"></a></li>
        {% endfor %}
    </ul>
{% endblock content %}
